html
    head
        title Eric Clancy
        style
            include style.css
    body
        div(class="banner")
            a(href='/')
                h1 Eric Clancy's Website
        main
            block content

        div(class='footer')
            div
                a(href='https://github.com/eclancy/PracticeWebsite/' target='__blank')
                    img(src='/static/octocat.png')

