<h1 [ngStyle]="{
  'color': h1Style ? 'gray' : 'black',
  'font-size': !h1Style ? '1em' : '4em'
}">Queue</h1>

<!-- These are other events you can use
(focus)="testFunction()"
(blur)="testFunction()" 
(submit)="testFunction()"  
(scroll)="testFunction()"

(cut)="testFunction()"
(copy)="testFunction()"
(paste)="testFunction()"

(keydown)="testFunction()"
(keypress)="testFunction()"
(keyup)="testFunction()"

(mouseenter)="testFunction()"
(mousedown)="testFunction()"
(mouseup)="testFunction()"

(click)="testFunction()"
(dblclick)="testFunction()"

(drag)="testFunction()"
(dragover)="testFunction()"
(drop)="testFunction()" 
-->

<!-- <button (click)="testFunction()" (enter)="testFunction()" (dragover)="testFunction()">Click Me</button> -->

<button routerLink="/contact">Add to queue</button>

<ul *ngIf="users">
  <li *ngFor="let user of users; let i = index;">
    <strong>{{i}}</strong>
    <p>{{user.name | slice:0:10}}</p>
  </li>
</ul>

<div *ngIf="users.length === 0">
    <p>No one in queue</p> 
</div> 

<button (click)="test()">Test</button>