.gray {
    color: gray;
}
.large {
    font-size: 4em;
}

ul {
    list-style-type: none;
    margin: 0;padding: 0;

    li {
        background: rgb(238, 238, 238);
        padding: 2em;
        border-radius: 4px;
        margin-bottom: 7px;
        display: grid;
        grid-template-columns: 60px auto;

        p {
            font-weight: bold;
            margin-left: 20px;
        }

        img {
            border-radius: 50%;
            width: 100%;
        }
        button:hover {
            color: lightgreen;
            background: green;
        }
    }
}

.party-card{
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;

    .party-info{
        height: 20px;
       

        .queue-number{
          margin-right: 20px;
        }  
    }
}

#add-button{
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 72px;
    color: #7700FF;
    cursor: pointer;

}

