<h1 [ngStyle]="{
  'color': h1Style ? 'gray' : 'black',
  'font-size': !h1Style ? '1em' : '4em'
}">Queue</h1>

<ul *ngIf="users">
  <li *ngFor="let user of users; let i = index;" style="display: flex; flex-direction: row; justify-content: space-between">
    <!-- <p><strong>{{i}}</strong>{{user.name | slice:0:10}}<button mat-icon-button><mat-icon>check</mat-icon></button></p> -->
      <span>
        <strong style="margin-right: 20px;">{{i}}</strong>
        {{user.name | slice:0:10}}
      </span>
      <button mat-icon-button style="justify-content: flex-end" matTooltip="Seat Party" aria-label="A button with a thing" (click)="onSeatClick(i)"><mat-icon>check</mat-icon></button>
  </li>
</ul>

<div *ngIf="users.length === 0">
  <p>No one in queue</p>
</div>

<div id="add-button">
  <button mat-fab routerLink="/addUser" color="primary"><mat-icon>add</mat-icon></button>
</div>